.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App .container {
  min-width: 360px;
}

.App .wireframe {
  padding: 40px 30px;
  margin-top: 40px;
}

button:focus {
  outline: thin dotted;
}

input:focus {
  outline: thin dotted;
}

a {
  color: inherit;
}
