.RecipeCard button {
  background: var(--color-background);
  border: 1px solid var(--color-background);
  user-select: none;
  padding: 8px 20px;
  margin-right: 5px;
  border-radius: 30px;
  transition: all 150ms ease-in-out;
}

.RecipeCard button:hover {
  background: #ffffff;
  border: 1px solid var(--color-accent);
}
